*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    color: white;
    padding-left: 30px;
    padding-top: 3%;
    padding-right: 30px;
    padding-bottom: 20px;
}
h1{
    color: white;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: 50px;
    
}
.new{
    background: url(slider-bg.jpg);
}
p{
    color: white;
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 40px;
    font-size: 20px;

}
button{
    color: orangered;
    margin-left: 40px;
    background-color: black;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-color: orangered;
    margin-bottom: 40px;
}
ul li a{
    color: white;
}